<h2 class= "text-center mt-4 font-weight-bold">Editing Event</h2>

<%= render 'form', event: @event %>

<%=link_to "Show", @event, class: "btn btn-outline-success mb-4" %>
<%=link_to "Back", events_path(@events), class: "btn btn-outline-success mb-4" %>


