<div class="jumbotron jumbotron-fluid text-center text-white" id="home-jumbotron">
  <div class="container">
    <h1 class="display-4">The real world is calling</h1>
    <p class="lead">Join our events to meet people, try somthing new, or do more of what you love.</p>
        <%= link_to "Join Events!", new_user_registration_path, class: "btn btn-success btn-lg" %>
  </div>
</div>