<p>Hello <%= @user.name %>!</p>

<p>Here is the event details:</p>

<p><strong><%= @event.title %></strong></p>

<p><%= @event.description %></p>

<p><%= @event.start %></p>

<p>From Event Management</p>